<p>{{strategy}}</p>
<p>DONNEE INTERNE</p>
<ul>
    <li *ngFor="let data of innerData">{{data.name}} : {{data.age}}</li>
</ul>
<button (click)="increment()">Ajouter 1 an</button>
<button (click)="incrementAndSetData()">Ajouter 1 an et réaffecter la donnée</button>
<button (click)="incrementAndDetectChanges()">Ajouter 1 an et détecter les changements</button>
<button (click)="incrementAndMarkForCheck()">Ajouter 1 an et marquer à vérifier</button>
<div></div>
<div></div>
<p>DONNEE EXTERNE</p>
<ul>
    <li *ngFor="let data of data">{{data.name}} : {{data.age}}</li>
</ul>
<div></div>
<div></div>


