<div class="container">
    <div class="content">
        <div class="inner">
            <p class="title">{{strategy}}</p>
            <p>Internal Data</p>
            <ul>
                <li *ngFor="let data of innerData">{{data.name}} : {{data.age}}</li>
            </ul>
        </div>
        <div class="buttonContainer">
            <button (click)="increment()">Add</button>
            <button (click)="incrementAndSetData()">Add & Affect</button>
            <button (click)="incrementAndDetectChanges()">Add & Detect</button>
            <button (click)="incrementAndMarkForCheck()">Add & Mark</button>
        </div>
        <div class="inner">
            <p>External Data</p>
            <ul>
                <li *ngFor="let data of data">{{data.name}} : {{data.age}}</li>
            </ul>
        </div>
    </div>
</div>


