<div class="container">
    <span class="title">PUSH</span>
    <div class="childrenContainer">
        <app-default-strategy 
            strategy='default' 
            [data]="data">
        </app-default-strategy>
        <app-push-strategy 
            strategy='push'     
            [data]="data">
        </app-push-strategy>
    </div>
    <div class="buttonContainer">
        <button (click)="increment()">Add</button>
        <button (click)="incrementAndSetData()">Add & Affect</button>
        <button (click)="incrementAndDetectChanges()">Add & Detect</button>
        <button (click)="incrementAndMarkForCheck()">Add & Mark</button>
    </div>
</div>

