<div class="container">
    <p>value : {{value}}</p>
    <ul>
        <li *ngFor="let item of array">{{item}}</li>
    </ul>
    <ul>
        <li *ngFor="let object of objectArray">{{object.name}} : {{object.age}}</li>
    </ul>
    <button (click)="changeValue()">Change la valeur</button>
    <button (click)="addItem()">Ajouter 1 valeur</button>
    <button (click)="changeItem()">Changer la 1ere valeur</button>
    <button (click)="addObject()">Ajouter 1 objet</button>
    <button (click)="changeObject()">Changer l'age du 1er objet</button>

</div>
