<div class="container">
    <span class="title">OOP</span>
    <div class="groups">
        <div class="group">
            <span class="groupTitle">Inheritance</span>
            <div class="buttons">
                <button (click)="tryCar()"><span>Car</span></button>
                <button (click)="tryBike()"><span>Bike</span></button>
                <button (click)="tryCarAndBike()"><span>Car & Bike</span></button>    
            </div>
            </div>
        <div class="group">
            <span class="groupTitle">Composition</span>
            <div class="buttons">
                <button (click)="trySharedCar()"><span>Shared car</span></button>
            </div>
        </div>
        <div class="group">
            <span class="groupTitle">Interfaces</span>
            <div class="buttons">
              <button (click)="trySharedCarV2()"><span>Shared car v2</span></button>
             <button (click)="trySharedObjects()"><span>Shared objects</span></button>
         </div>
        </div>
        <div class="group">
            <span class="groupTitle">Generics</span>
            <div class="buttons">
                <button (click)="tryVehiclesFactory()"><span>Factory</span></button>
                <button (click)="tryGenericVehiclesFactory()"><span>Generic Factory</span></button>
            </div>
        </div>
    </div>    
</div>
